---
permalink: /index.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html><html lang="pl"><head><meta charset="utf-8">
<title>Warsztat Kochańskiego</title>
<meta http-equiv="refresh" content="0; url=/pl/"></head>
<body><p><a href="/pl/">Warsztat Kochańskiego</a></p></body></html>
